<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<meta name="google-site-verification" content="wc4ZgcgwVYdZG45l1j5-ezla2ljZ3r_B_m6XGExYyyY" />
<meta property="og:image" content="https://bts-odoo-selector.com/images/BTS.jpg"/>
<meta name="twitter:image" content="https://bts-odoo-selector.com/images/BTS.jpg">
<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">

<!-- end custom head snippets -->
